<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" media="screen" type="text/css" />
		<title>Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <script src="/assets/js/cats.js"></script> --}}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
		{{{ body }}}
		</div>

		<script src="js/view.js" type="text/javascript"></script>
	</body>
</html>