<div class="imgContainer">
  <img src="https://s3.envato.com/files/243578446/preview.jpg" class="burgerImg">
  <h1>Eat-Da-Burger</h1>
</div>

<div class="container eating-section">
  <div class="row align-items-start">
    <div class="col-md-6 activeCol">
      {{!-- <h2>test</h2> --}}

      {{#each burgers}}
        <h3 class="burgerlist">{{this.id}}. {{this.burger_name}}</h3> <button class="devour" data-id="{{this.id}}" data-eaten="{{this.devoured}}">Devour it!</button>
      {{/each}}
    </div>
    <div class="col-md-6 inactiveCol">
      <h2>test1</h2>
    </div>
  </div>
</div>


<form id="createBurger" class="button-size">
  <div class="form-group">
    <textarea class="form-control" id="submitArea" rows="2"></textarea>
    <br>
    <label for="submitArea">Enter a burger you want to eat. Click the "Submit" Button.</label>
  </div>
  <button type="submit" class="btn btn-primary center-block">Submit</button>
</form>