.wrapper{
    border:1px solid green;
}

.burgerImg {
    display: block;
    max-width: 100%;
    height: auto;
}

.imgContainer {
    /* border: 1px solid blue; */
    margin: 0 auto;
    width: 20em;
    height: 100%;
}

.imgContainer h1{
    text-align:center;
}

#createBurger{
    padding:1em;
    /* border:1px solid green; */
    /* display:block; */
    width:30em;
    margin:0 auto;
}

.activeCol,.inactiveCol{
    width:50%;
    height:100%;
    border:1px solid blue;
}

.eating-section{
     border:1px solid gold;
}
#createBurger  .form-group{
    border:1px solid red;
    /* display:block; */
    margin:0 auto;
    text-align:center;
}

.burgerlist{
    border:1px solid blue;
}